.container{
    max-width: 100%;
}
        
.left {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0)), url("../images/left.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 100vh;
    width: 40%;
    text-align: center;
  )
}
        
.right{

    width: 60%;
    height: 100vh;
}

.cform{
    margin-top: 20px;
}
/*Media Query*/

@media (min-width:576px) {
.h1{
    text-align: center;
    color: white;
    font-size: 3.5rem;
}
}
/* Medium devices (tablets) */
@media (min-width:768px) {
  .h1{
    text-align: center;
    color: red;
}  
    
    .left {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0)), url("../images/left-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 100vh;
    width: 40%;
    text-align: center
}
    
}
/* Large devices (desktops) */
@media (min-width:992px) {
  .h1{
    text-align: center;
      font-size: 5.6rem;
      color: black;
}        
}
/* Extra large devices (large de*/
@media (min-width:1200px) {
    .h1{
    text-align: center;
    font-size: 6.2rem;
    color: aqua;
}      
}
/* The given screen size or smaller */
/* Extra small devices (pphones)*/
@media (max-width:575px) {
    
    .left{
        display: none;
    }
    
    .right{
        width: 100%;
    }
}
/* Small devices (landscape phones)*/
@media (max-width:767px) {}
/* Medium devices (tablets)*/
@media (max-width:991px) {}
/* Large devices (desktops)*/
@media (max-width:1199px) {}