.contact-page{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
.left_container{
    width: 40%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 0px !important;
}
.image-container{
	background-image: url("https://r1.ilikewallpaper.net/pic/201709/papers_co_mi58_photos_of_cameras_dark_mario_calvo_34_iphone6_plus_wallpaper_1_640.jpg");
	position: fixed;
    width: 100% !important;
    padding-top: 30%;
    overflow-y: hidden;
    float: left;
    z-index: -2;
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.overlay{
	background-color: rgba(128,128,128,.55) !important;
	background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    float: left;
    overflow-y: hidden;
}
.mapouter{
	text-align:right;
	height:260px;
	width:600px;
}
.gmap_canvas {
	overflow:hidden;
	background:none!important;
	height:260px;
	width:600px;
}
.margins{
	margin-bottom: 100px;
	margin-left: 70px;
}
.right_container{
    width: 60%;
    padding: 0px !important;
}
.content{
	position: relative;
	padding: 0px;
	background: rgb(245,245,245);
	margin-right: 0px;

}
.heading{
	text-align: center;
	padding: 60px 0px 20px;
	font-weight: 500;
	color: rgb(52,51,51);
	margin-top: 20px;
	margin-bottom: 10px;
}
.contact p i{
    font-size: 25px;
    margin: 20px 0px;
}
.contact p{
	text-align: center;
	color: rgb(52,51,51);
}
.fa{
	display: inline-block;
}
.footer{
	background: rgba(26,27,35);
	text-align: right;
	width: 100%;
	color: #fff;
	padding: 10px 50px !important;
	margin-right: 150px;
	text-align: center !important;
	padding-top: 16px;
}
.visit{
    text-align: center;
	padding: 60px 0px 20px;
	font-weight: 500;
	color: rgb(52,51,51);
	margin-top: 20px;
	margin-bottom: 10px;
}
.sub-head{
	font-size: 2rem;
}
.frame{
	margin-right: 60px;
	margin-left: 60px;
	padding-top: 20px;
}
.map1{
	margin-top: 60px;
	margin-left: 180px !important;
}
.icon1{
	margin-right: 0px !important;
	margin-left: 0px !important;
}
.formcot{
	margin-right: 50px;
	margin-left: 50px;
}
.text{
	font-size:18px;
}
@media  screen and (max-width: 768px){
	#contact{
		width: 100%;
	}
	.new{
		position: fixed;
	}
	.map1{
		width: 100px !important;
		height: 260px;
		margin-left: 0 !important;
		margin-right: 0 !important;
		margin-top: 0;
	}
	.frame{
		margin: auto 0;
	}
} 