/*Navbar */
.bar{
     background-color: rgba(0,0,0,.55) !important ;
     width: 100%;
    }
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
/*page piling*/
section {
  color: #fff;
  /* position: absolute; */
  /* top: 0; */
  z-index: -100;
  text-align: center;
}
.container1{
  background-color: rgba(0, 0, 0,0.5);
  padding: 50px;
}
section#section-1 {
  padding-top: 0px;
  background: #6C7A89;
}
.display-3{
 margin-top: 0px;
}
.box1{
  padding-top: 40px;
}
.lead1{
  width: 60%;
  float: right !important;
  padding-left: 10%;
  padding-right: 50px;  
  font-size: 1.1em !important; 
}
.image1{
  width: 35%;
  height: 250px;
  float: left;
  padding-left: 50px;
  padding-right: 50px;
}

section#section-2 {
  background: #2574A9;
}
.box2{
  margin-top: 50px;
  float: left;
  margin-left: 15%;
  padding: 30px;
  width: 30%;
  background-color: rgba(0, 0, 0,0.5);
}
.box2 img{
  width: 70%;
  height: auto;
}
 .box3{
  margin-top: 50px;
  width: 30%;
  background-color: rgba(0, 0, 0,0.5);
   padding: 30px;
   float: right;
   margin-right: 15%;

 }
 .box3 img{
  width: 70%;
  height: auto;
}
.text1{
  font-size: .9em !important;
  padding-top: 20px;
  justify-content: center !important;
}
section#section-3 {
  background: #26A65B;
}
section#section-4 {
  background: #F2784B;
}

@media screen and (max-width: 796px) {
  div.container1{
    padding: 10px;
    width: 80%;
    margin-top: 20px;
  }
  h3.display-4{
    font-size: 2.8em !important;
  }
  img.image1{
    width: 100% !important;
  }
  p.lead1{
    margin-top: 30px;
    font-size: .8em !important;
    width: 100%;
  }
  p.text1{
  font-size: .8em !important;
  padding-top: 10px;
  justify-content: center !important;
  float: none;

}



  div.box2{
    margin-top: 10px;
    width: 43%;
    padding: 10px;
    margin-left: 5%;
  }
  div.box3{
    margin-top: 10px;
    width: 43%;
    padding: 10px;
    margin-right: 5%;
  }
 



}
.text1 span{
  font-size: 20px; 
  color: lightgreen;

}


