body{
	margin: 0;
	padding-top: 0;
}

/*For navbar*/
.bar
{
    background-color: rgba(0,0,0,.55) !important ;
}

/*For Background*/
.parallax{
    background-image: url("https://wallpaper.wiki/wp-content/uploads/2017/04/wallpaper.wiki-Formula-1-cars-images-desktop-hd-PIC-WPC003881.jpg");
    min-height: 500px; 
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.back1{
    background-color: rgb(0,0,0,.55);
    width: 100%;
}

/*For owl-carousel*/
s.one{
	padding-right:5%;
	padding-left:5%; 
	
	padding-top:5%;
	padding-bottom:5%;
	margin-bottom:5%;
}
.two{
	background-size: cover;
	height: 300px !important;
    width: 270px !important;
    transition: .5s ease;
    backface-visibility: hidden;	
}

/*For team members section*/
.col-md-3{
    display: inline-block;
    margin-left:-4px;
}
.col-md-3 img{
    width:100%;
    height:auto;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


h1{
    font-family: Montserrat;
    font-size: 100px;
    color: white;
}
h1.pb-5{
	padding-top: 80px;
    overflow: hidden !important;
}
.container{
	position: relative;
}
.container .box{
	position: relative;
	width: calc(250px - 30px);
    background-color: rgba(0,0,0,.55);
	height: calc(250px - 30px);
	
	margin:auto;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 15px;
}
.container .box .image{
	position: absolute;
	align-content: center;
	width: 100%;
	height: 100px;
	transition: 1s;
	z-index: 1;
}
.container .box:hover .image{
	top: 20px;
	right: calc(50% - 40px);
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.container .box .content{
	position: absolute;
	height: calc(100% - 100px);
	top: 100%;
	left: 45px;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	opacity: 0; 
	transition: 0.5s;
	color:#ffffff;
}
.container .box:hover .content{
	opacity: 1;
	top: 100px;
}

.fluid footer{
    background-color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 50px;
}
.fluid footer span{
    color: lightgrey;
    font-size: 15px;
}


/*Media Queries*/
@media only screen and (max-width: 320px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 50% !important;
    }
    div.ml-3{
        margin-left: 0 !important;
        margin-right: 7px;
    }
    div.container .box{
        width: calc(150px - 30px);
        height: calc(150px - 30px);
        margin-top: 20px;
    }
    div.container .box:hover .image{
        width: 50px;
        height: 50px;
        right: calc(50% - 25px);
    }
    div.container .box:hover .content{
        top: 50px;
        left: 8px;
        margin-top: 0;
    }
    div.container .box .content h3{
        font-size: 25px !important;
        margin-bottom: 0;
    }
    div.container .box .content p{
        font-size: 15px !important;
        margin-top: 0;
    }`
    .col-sm-6{
        padding: 0;
    }
    .one{
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
    }
    img.two{
        margin: auto;
    }
    .owl-carousel.owl-item img {
        display: block;
        width: 100% !important;
    }
    .fluid footer span{
        font-size: 13px;
    }
    

}
@media only screen and (max-width: 568px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 50% !important;
    }
    div.ml-3{
        margin-left: 0 !important;
    }
    div.container .box{
        width: calc(150px - 30px);
        height: calc(150px - 30px);
        margin-top: 20px;
    }
    div.container .box:hover .image{
        width: 50px;
        height: 50px;
        right: calc(50% - 25px);
    }
    div.container .box:hover .content{
        top: 50px;
        left: 8px;
        margin-top: 0;
    }
    div.container .box .content h3{
        font-size: 25px !important;
        margin-bottom: 0;
    }
    div.container .box .content p{
        font-size: 15px !important;
        margin-top: 0;
    }
    
    .col-sm-6{
        padding: 0;
    }
    .one{
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
    }
    img.two{
        margin: auto;
    }
    .owl-carousel.owl-item img {
        display: block;
        width: 100% !important;
    }
    
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.containers:hover .two {
  opacity: 0.5 !important;
}

.containers:hover .middle {
  opacity: 1 !important;
}

.text {
  background-color: rgba(62,59,57);
  color: white;
  font-size: 16px;
  padding: 16px 10px;
  text-align: center;
}
a i{
    text-decoration: none;
}
i{
    background-color: black;
    color: white;
    border-radius: 50%;
    height: 30px; 
    width: 30px;
    line-height: 29px !important;
}



